body{font-family: 'Open Sans', sans-serif; font-size:14px; color:#777; background:#f1f1f1;}


/* Resets */
input[type='number'] {-moz-appearance:textfield;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0;}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style: none;
    line-height: 2;
}

p{line-height:24px;}


/* General Classess and Utilities*/
.clearBoth{ clear:both;}
a, a:hover, a:focus, a:active{color: #d23232; text-decoration: none;; outline: none;}
.btn:focus, .btn.focus{background: none; outline: 0; }
strong{font-weight:700;}
.text-small{font-size:12px;}
.text-xs{font-size:10px;}
.asterix-red{color:#ff0000;}
.error{ border: 1px solid #f00!important;}
.popover{border-radius:0;}
.pointer{cursor:pointer;}
.padTopNone{ padding-top:0 !important;}
.form-control[readonly]{ background:transparent;}
.noborder{border:none !important;}
.noborderTop{border-top:none !important;}
.noborderBottom{border-bottom:none !important;}
.noborderRight{border-right:none !important;}




/* Margins */
.m5{ margin:5px;}
.mT5{margin-top:5px;}
.mTn5{margin-top:-5px;}
.mR20{margin-right:20px;}


/* Paddings */
.nopadding {padding: 0 !important;}
.nopaddingRight{padding-right:0 !important;}



/*Widths*/
.w33pcnt{width:33%;}
.w45pcnt{width:45%;}
.w50pcnt{width:50%;}
.w60pcnt{width:60%;}
.w70pcnt{width:70%;}
.w100pcnt{width:100%;}





/*Pre - Loader Styles*/
#pre-loading{ background: #FFF;bottom: 0; left: 0; position: fixed; right: 0;
top: 0; z-index: 999999;}
.loading_img {background:url(../images/loading.gif) no-repeat center center;height: 200px; left: 50%; margin: -100px 0 0 -100px; position: absolute; top: 50%; width: 200px;}




/* back to top */
#back-top {
  display:none;	
  position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 100;
    color: #FFF;
    background: #d23232;
    padding: 8px 11px;
    font-size: 24px;
    width: 46px;
    height: 45px;
    border-radius: 50%;
}

#back-top:hover{
  opacity: 1;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  -o-box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
   box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  -webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}




/*form resets*/

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    border: 1px solid #f1f1f1;
    padding: 12px 16px;
    line-height: inherit;
    width: 100%;
    background-color: #f7f7f7;
    margin-bottom: 30px;
    border-radius: 0;
    height: auto;
    -webkit-appearance: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border ease .4s;
    -moz-transition: border ease .4s;
    transition: border ease .4s;
}










/* buttons  resets*/


.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 700;
    border-radius: 2px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline-offset: 0;
}


.btn-primary {
    color: #FFF;
    background-color: #d23232;
    border-color: transparent;
	text-transform:uppercase;
}



.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .btn-primary:focus, .btn-primary.focus, .btn-primary:hover {
    color: #FFF;
    background-color: #d23232;
    border-color: transparent;
}




/*  Profile Pic */

.profile-pic {
    background: linear-gradient(to top, #e14fad 0%, #f9d423 100%);;
    padding: 40px 0;
}

.avatar {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 8px solid #FFF;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}







/* Side Navigation */

.navigation {
	padding: 0px;
	margin: 0px;
	overflow:hidden;
}

.navigation li {
	list-style: none;
	position: relative;
	background: #2c383c;
}


.navigation li a {
	padding: 22px;
	display: block;
	width: 100%;
	text-align: right;
	font-size: 18px;
	color: #d1d1d1;
	position: relative;
	height:80px;
}




.navigation li a i {
	font-size: 20px;
	position: relative;
	top: 1px;
	margin-left: 15px;
	color: #d1d1d1;
}

.navigation li a:hover, .navigation li a:hover i, .active a, .active a i {
	color: #2c383c !important;
	text-decoration:none;
}

.navigation li:before {
	content: '';
	position: absolute;
	top: 0px;
	width: 0%;
	height: 100%;
	right: 0px;
	background: #ffd42d;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.navigation li:hover:before ,
.navigation li.active:before {
	content: '';
	width: 100% !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}



@media screen and (max-width:991px) {
	.navigation li{
		 width: 25%;
		 float: left;
	}
	
	.navigation li a{ text-align: center;  font-size: 14px;  padding: 15px;  height: auto;}
	
	.navigation li a i{ display:none;}
	
	
}







/* Content profile section */

.content-section{ background:#FFFFFF; padding:30px; overflow:hidden; min-height: 600px;}

h2{
    font-size: 32px;
    font-weight: 300;
    margin: 0px;
    line-height: 36px;
    color: #606060;
}

h2::after{background: #ffd42d;  content: "";  display: block; height: 3px;  margin: 20px 0; width: 70px;}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #828282;
}



h4{
	color: #2c383c;
    margin: 30px 0 0 0;
    font-size: 24px;
    font-weight: 300;
    padding-top: 20px;
}

h4::after{background: #ffd42d;  content: "";  display: block; height: 6px;  margin: 20px 0; width: 50px;}


.personal-info{
	padding: 0px;
}

.personal-info .p-info{
    background: #f6f6f6;
}

.personal-info li {
	float: left;
	list-style: none;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 43px;
	border: 1px solid #ededed;
	overflow: hidden;
}

.personal-info li strong {
	padding: 15px;
	line-height: 42px;
	background: #FFF;
	font-size: 16px;
	color: #9b9b9b;
	font-weight: 400;
	font-style: normal;
}

.personal-info li span {
	padding: 11px 15px;
	line-height: 42px;
	font-size: 16px;
	color: #484848;
	font-weight: 400;
	background: #f6f6f6;
	border-left: 1px solid #ededed;
}










/*-------------------------------------------- 
                  FOOTER
---------------------------------------------- */

footer {
	background: #f1f1f1;
	height: 70px;
	padding: 20px 30px;
	position: relative;
	z-index: 99;
}

footer p {
	color: #000000;
	font-size: 14px;
}

.social {
	padding: 0px;
	display: table;
	float: right;
}

.social li {
	float: left;
	list-style: none;
	margin-left: 15px;
}

.social li a {
	font-size: 19px;
	color: #2b373b;
}

.social li a:hover {
	color: #ffd42d;
}




/* inner sections */

.page-head {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px;
}



.page-head h3 {
    margin: 0px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2c383c;
}


.page-head h3 {
	margin: 0px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
	color: #2c383c;
}

.page-head p {
	font-size: 12px;
	color: #2c383c;
	padding-top: 8px;
	text-align: right;
}

.nav-controls a i {
	color: #2c383c;
	font-size: 30px;
	margin-left: 4px;
}

.nav-controls a:hover i {
	color: #ffd42d;
}

.nav-main {
	display: table;
	float: right;
}

.nav-main p {
	float: left;
}

.nav-controls {
	float: right;
	position: relative;
	top: 5px;
	margin-left: 15px;
}




/*-------------------------------------------- 
                  RESUME
---------------------------------------------- */


.resume-info h4 {
	color: #2c383c;
	margin: 0px;
	font-size: 24px;
	font-weight: 300;
}

.resume-info ul {
	padding: 0px;
}

.resume-info ul {
	margin-top: -15px;
}

.resume-info ul li {
	border-bottom: 1px solid #ededed;
	padding: 15px 0 20px;
	margin: 0px;
	list-style: none;
}

.resume-info ul li.last{
	 border-bottom: none;
}

.resume-info p {
	margin: 0px;
	color: #828282;
	font-size: 15px;
	line-height: 24px;
	margin-top: 5px;
}

.resume-info h5 {
	font-size: 16px;
	font-weight: bold;
	color: #2c383c;
}

.year {
	color: #2c383c;
}

.year i {
	color: #aaaaaa;
	margin-right: 5px;
}



/************ Skills ***************/

.skills-info {
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
	margin: 0 0 30px 0;
}

.skills-info ul {
	padding: 0px;
}

.skills-info ul li {
	list-style: none;
	margin-bottom: 20px;
}

.skills-info ul li p {
	font-size: 14px;
	color: #9a9a9a;
	margin-bottom: 1px;
}

.skills-info ul li p span {
	float: right;
	color: #6a6a6a;
}

.skills-bg {
	height: 20px;
	display: table;
	width: 100%;
	border: 1px solid #ededed;
	position: relative;
}

.skills-bg span {
	background: #ffd42d;
	height: 18px;
	display: table;
	position: absolute;
	top: 0px;
	left: 0px;
}

.skill1, .skill2, .skill3, .skill4, .skill5 {
	width: 0px;
	-webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}













/****** Contact Info ********/

.contact-info p {
	font-size: 14px;
	margin: 15px 0;
}

.contact-info {
	padding-bottom: 15px;
	border-bottom: 1px solid #ededed;
	margin-bottom: 30px;
	display: table;
	width: 100%;
}

.contact-info ul {
	padding: 0px;
	overflow:hidden;
}

.contact-info ul li {
	float: left;
	font-size: 14px;
	color: #828282;
	list-style: none;
	margin-right: 18px;
}

.contact-info ul li i {
	margin-right: 5px;
	color: #4c4d4f;
	font-size: 16px;
}

.contact-form form {
	margin: 20px 0;
}

.contact-form input {
	height: 52px;
	border-radius: 4px;
	border: 1px solid #ededed;
	padding: 0 18px;
	font-size: 12px;
	width: 100%;
	margin-bottom: 10px;
}

.contact-form textarea {
	height: 176px;
	border-radius: 4px;
	border: 1px solid #ededed;
	padding: 15px 18px;
	font-size: 12px;
	width: 100%;
	margin-bottom: 18px;
}

.contact-form button {
	width: 120px;
	height: 43px;
	background: #ffd42d;
	border-radius: 4px;
	font-size: 13px;
	color: #4e503b;
	border: none;
	float: right;
}

.contact-form button:hover {
	background: #222;
	color: #ffd42d;
}

.statusMessage,.successmessage,.errormessage {
	display: none;
	width: 100%;
	height: auto;
	background: #fff;
	border: 1px solid #ddd;
	margin: 20px auto;
	-moz-box-shadow: 0 0 8px #aaa;
	-webkit-box-shadow: 0 0 8px #aaa;
	box-shadow: 0 0 8px #aaa;
	padding: 15px;
}

.statusMessage p {
	margin: 0;
	color: #888;
}

.successmessage p {
	margin: 0;
	color: #888;
}

.success-ico {
	background: url(../images/success.png);
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 15px;
	position: relative;
	top: 0px;
}

.error-ico {
	background: url(../images/error.png);
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 15px;
	position: relative;
	top: 0px;
}

.errormessage p {
	margin: 0;
	color: #888;
}















/* For behance */

#imagescontainer, #projectcontainer {
	margin: 20px 0;
}

#imageslist {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#imageslist li {
	list-style-type: none;
	margin:0 0 30px 0;
}

#imageslist li:hover a{
	border: 3px solid #2c383c;
    border-bottom: none;
}

#imageslist li a {
	display: block;
    border: 3px solid #ffd42d;
    border-bottom: none;
	transition:all .3s ease-in-out;
}

#imageslist li a img{
	width: 100%;
	height:auto;
	transition:all .3s ease-in-out;
}


#imageslist li a img:hover{
	opacity:0.5;
}

#imageslist li .cover-title {
	display: none;
}
#imageslist li .project-title {
	display: block;
    line-height: 1.6;
    padding: 10px 15px;
    background: #ffd42d;
    color: #2c383c;
	font-size: 13px;
	white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  transition:all .3s ease-in-out;
}

#imageslist li:hover .project-title{
	 background: #2c383c;
    color: #ffd42d;
}


#projectImages li {
	list-style-type: none;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	font-size: 14px;
}

#projectTag, #projectFields, #projectDate, #projectCC, #projectLC {
    display: block;
    margin-bottom: 10px;
}

.tooltip-inner {
  width: 194px;
  background-color: #212222;
}


.tooltip.top .tooltip-arrow {
  border-top-color: #212222;
  border-width: 9px 9px 0;
  bottom: 0;
  margin-left: -80px;
}
.title {
	 font-size: 26px;
	 line-height: 1.4em;
}
.sub-title {
	 font-size: 20px;
	 line-height: 1.4em;
}
.text, .text_plain {
	 font-size: 14px;
	 line-height: 1.4em;
}




